RFID
[{"id":"b4dab959.16ee38","type":"tab","label":"RFID","disabled":false,"info":""},{"id":"2a3f8533.99108a","type":"debug","z":"b4dab959.16ee38","name":"","active":true,"console":"false","complete":"false","x":910,"y":300,"wires":[]},{"id":"54d3732d.054dec","type":"serial in","z":"b4dab959.16ee38","name":"RFID","serial":"90c28424.9d8558","x":170,"y":300,"wires":[["c4a3b192.955b6"]]},{"id":"70065cd5.f90fc4","type":"function","z":"b4dab959.16ee38","name":"msg.payload = \"granted\";","func":"msg.topic = msg.payload;\nmsg.payload = \"granted\";\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":240,"wires":[["2a3f8533.99108a"]]},{"id":"46e75e82.a0ba","type":"function","z":"b4dab959.16ee38","name":"msg.payload = \"denied\";","func":"msg.topic = msg.payload;\nmsg.payload = \"denied\";\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":440,"wires":[["2a3f8533.99108a"]]},{"id":"c4a3b192.955b6","type":"switch","z":"b4dab959.16ee38","name":"Security","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"B1F9","vt":"str"},{"t":"cont","v":"\u0003\u000213006EDC2081","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":400,"y":300,"wires":[["70065cd5.f90fc4"],["70065cd5.f90fc4"],["46e75e82.a0ba"]]},{"id":"90c28424.9d8558","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false}]
