SQLITE3
[{"id":"10273041.ba76a","type":"inject","z":"9bcc93f6.a1c67","name":"CREATE","topic":"CREATE TABLE rfidreadings(id INTEGER PRIMARY KEY AUTOINCREMENT, name TEXT, currentdate DATE, currenttime TIME, door INTEGER)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":300,"y":180,"wires":[["a3e76618.eda1e8"]]},{"id":"77187635.497ed8","type":"inject","z":"9bcc93f6.a1c67","name":"SELECT","topic":"SELECT * FROM rfidreadings","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":300,"y":340,"wires":[["a3e76618.eda1e8"]]},{"id":"f9a05798.115c08","type":"inject","z":"9bcc93f6.a1c67","name":"DELETE","topic":"DELETE from rfidreadings","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":300,"y":420,"wires":[["a3e76618.eda1e8"]]},{"id":"22b9fe55.ff5592","type":"inject","z":"9bcc93f6.a1c67","name":"INSERT","topic":"INSERT INTO rfidreadings(id, name, currentdate, currenttime, door) values(01230110, 'Austin', date('now'), time('now'), 3)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":290,"y":260,"wires":[["a3e76618.eda1e8"]]},{"id":"942c5cb3.5e7e9","type":"inject","z":"9bcc93f6.a1c67","name":"DROP TABLE","topic":"DROP TABLE rfidreadings","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":310,"y":500,"wires":[["a3e76618.eda1e8"]]},{"id":"49a8c007.7ca23","type":"debug","z":"9bcc93f6.a1c67","name":"","active":true,"console":"false","complete":"false","x":940,"y":340,"wires":[]},{"id":"a3e76618.eda1e8","type":"sqlite","z":"9bcc93f6.a1c67","mydb":"8a7948cc.235008","name":"","x":640,"y":340,"wires":[["49a8c007.7ca23"]]},{"id":"4ac192b9.a7467c","type":"sqlite","z":"9bcc93f6.a1c67","mydb":"8a7948cc.235008","name":"","x":630,"y":580,"wires":[["5c1009f8.55d958"]]},{"id":"d134a49a.053368","type":"inject","z":"9bcc93f6.a1c67","name":"VIEW","topic":"SELECT * FROM rfidreadings","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":310,"y":640,"wires":[["4ac192b9.a7467c"]]},{"id":"5c1009f8.55d958","type":"ui_template","z":"9bcc93f6.a1c67","group":"ce160c07.054a4","name":"","order":0,"width":"10","height":"10","format":"<table style=\"width:100%, length:100%\">\n  <tr>\n    <th>INDEX</th>\n    <th>ID</th> \n    <th>NAME</th>\n    <th>TIME</th> \n    <th>DATE</th>\n    <th>DOOR</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload\">\n    <td>{{$index}}</td>\n    <td>{{msg.payload[$index].id}}</td>\n    <td>{{msg.payload[$index].name}}</td> \n    <td>{{msg.payload[$index].currenttime}}</td>\n    <td>{{msg.payload[$index].currentdate}}</td>\n    <td>{{msg.payload[$index].door}}</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":940,"y":580,"wires":[[]]},{"id":"8a7948cc.235008","type":"sqlitedb","z":"","db":"/tmp/sqlite"},{"id":"ce160c07.054a4","type":"ui_group","z":"","name":"Default","tab":"33bc479e.835d78","disp":true,"width":"10"},{"id":"33bc479e.835d78","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}
