two-pins-button
[{"id":"a7f5a7c.90cbc58","type":"rpi-gpio out","z":"dbc7a4cf.f688c8","name":"","pin":"18","set":true,"level":"0","freq":"","out":"out","x":720,"y":280,"wires":[]},{"id":"9bb52c5c.822fd","type":"rpi-gpio out","z":"dbc7a4cf.f688c8","name":"","pin":"16","set":true,"level":"0","freq":"","out":"out","x":720,"y":240,"wires":[]},{"id":"2b5e653a.fff5fa","type":"function","z":"dbc7a4cf.f688c8","name":"Flicker","func":"context.state = context.state || 0;\n(context.state === 0) ? context.state = 1: context.state = 0;\nmsg.payload = context.state;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":280,"wires":[["d3c424e9.5391a8"]]},{"id":"652ed3d4.988cbc","type":"ui_button","z":"dbc7a4cf.f688c8","name":"","group":"e2fe310c.b3c51","order":0,"width":0,"height":0,"passthru":false,"label":"Move up","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":160,"y":280,"wires":[["2b5e653a.fff5fa"]]},{"id":"d3c424e9.5391a8","type":"trigger","z":"dbc7a4cf.f688c8","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"3","extend":false,"units":"s","reset":"","name":"","x":560,"y":280,"wires":[["9bb52c5c.822fd","a7f5a7c.90cbc58"]]},{"id":"e2fe310c.b3c51","type":"ui_group","z":"","name":"Control Buttons","tab":"8c7205f4.efa388","disp":true,"width":"6"},{"id":"8c7205f4.efa388","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}] 
